#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#root > main {
    background-color: #F5F7FB;

    width: 780px;
    min-height: 550px;
    padding: 40px 75px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
  color: #293264;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

main > p {
  color: #293264;
  margin-bottom: 30px
}

main > button.start-quiz-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 16px 60px;
  border-radius: 15px;
}