/* CSS reset by David Bushell */
/* https://git.dbushell.com/dbushell/patchwork/src/branch/main/static/css/base/reset.css# */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(html) {
  color-scheme: light dark;
  hanging-punctuation: first allow-end last;
  interpolate-size: allow-keywords;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

:where(html.translated-rtl) {
  direction: rtl;
}

@media (prefers-reduced-motion: reduce) {
  :where(html) {
    scroll-behavior: auto;
  }
}

:where(body) {
  min-block-size: 100svb;
  min-inline-size: 300px;
}

:where(canvas, img, picture, svg, video) {
  block-size: auto;
  border: none;
  display: block;
  max-inline-size: 100%;
}

:where(button, input, progress, select, textarea) {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  hanging-punctuation: none;
  line-height: inherit;
  text-align: start;
  touch-action: manipulation;
}

:where(button) {
  cursor: pointer;
  user-select: none;
}

:where(textarea) {
  resize: vertical;
}

:where(textarea:not([rows])) {
  field-sizing: content;
}

:where(fieldset, iframe) {
  border: none;
}

:where(p, li, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

:where(abbr[title]) {
  border: none;
  text-decoration: none;
}

:where(cite) {
  font-style: inherit;
}

:where(small) {
  font-size: inherit;
}

:where(li, ol, ul) {
  list-style: none;
}

:where(dialog, [popover]) {
  background: transparent;
  border: none;
  color: inherit;
  margin: auto;
  max-block-size: none;
  max-inline-size: none;
  position: fixed;
}

:where([popover]) {
  inset: auto;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
  display: none;
}

:where([hidden]:not([hidden="until-found"])) {
  display: none !important;
}

/* End of CSS reset */

body {
  background-color: #1C1C1C;
}

/*Question Card*/
.question-card {
  border-bottom: 1px solid #DBDEF0;
  padding-block: 15px;
}
.question-card > h2 {
  color: #293264;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  margin-bottom: 12px;
}

.question-card > button {
  color: #293264;
  font-family: "Inter", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  text-align: center;

  border: 1px solid #4D5B9E;
  border-radius: 8px;
  padding: 4px 8px;
  min-width: 65px;
}

.check-answer-btn{
  font-family: "Inter", sans-serif;
  font-size: 0.625rem;
  color: #F5F7FB;

  background-color: #4D5B9E;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px auto 0;
  display: block;
}