.contact-button{
    display: flex;
    padding: var(--space-sm) 0;
    width: 40%;
    text-decoration: none;
    border-radius: var(--radius);
    gap: var(--space-sm);
    justify-content: center;
}

.contact-button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}


/*hard coding these values as they're not part of my design system and are once off*/
.email-btn{
    background-color: #fff;
    color: #1E1F26;
}

.linkedin-btn {
    background-color: #5093E2;
    color: #fff;
}