.contact-button{
    display: flex;
    padding: var(--space-sm) 0;
    width: 40%;
    text-decoration: none;
    border-radius: var(--radius);
    gap: var(--space-sm);
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.contact-button:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}


/*hard coding these values as they're not part of my design system and are once off*/
.email-btn{
    background-color: #fff;
    color: #1E1F26;
}

.app.light .email-btn {
  border: 1px solid lightgray;
}

.linkedin-btn {
    background-color: #5093E2;
    color: #fff;
}

.app.light .linkedin-btn {
  background-color: #297FE5;
}