/* CSS reset by David Bushell */
/* https://git.dbushell.com/dbushell/patchwork/src/branch/main/static/css/base/reset.css# */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(html) {
  color-scheme: light dark;
  hanging-punctuation: first allow-end last;
  interpolate-size: allow-keywords;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

:where(html.translated-rtl) {
  direction: rtl;
}

@media (prefers-reduced-motion: reduce) {
  :where(html) {
    scroll-behavior: auto;
  }
}

:where(body) {
  min-block-size: 100svb;
  min-inline-size: 300px;
}

:where(canvas, img, picture, svg, video) {
  block-size: auto;
  border: none;
  display: block;
  max-inline-size: 100%;
}

:where(button, input, progress, select, textarea) {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  hanging-punctuation: none;
  line-height: inherit;
  text-align: start;
  touch-action: manipulation;
}

:where(button) {
  cursor: pointer;
  user-select: none;
}

:where(textarea) {
  resize: vertical;
}

:where(textarea:not([rows])) {
  field-sizing: content;
}

:where(fieldset, iframe) {
  border: none;
}

:where(p, li, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

:where(abbr[title]) {
  border: none;
  text-decoration: none;
}

:where(cite) {
  font-style: inherit;
}

:where(small) {
  font-size: inherit;
}

:where(li, ol, ul) {
  list-style: none;
}

:where(dialog, [popover]) {
  background: transparent;
  border: none;
  color: inherit;
  margin: auto;
  max-block-size: none;
  max-inline-size: none;
  position: fixed;
}

:where([popover]) {
  inset: auto;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
  display: none;
}

:where([hidden]:not([hidden="until-found"])) {
  display: none !important;
}

/* End of CSS reset */

/* 
:root and #root are different 

:root is a CSS pseudo-class that represents the html document root (<html>)
#root is the ID for the React app container element

*/

:root{
  /*Custom Properties*/
  /* Colors */
  --color-bg-primary: #1A1B21;
  --color-bg-secondary:  #161619;
  --color-text-primary: #F5F5F5;
  --color-text-secondary: #fff;
  --color-text-accent: #F3BF99;

  /* Spacing */
  --space-xxsm: 0.25em;
  --space-xsm: 0.375em;
  --space-sm: 0.75em;
  --space-md: 1em;
  --space-lrg: 1.625em;
  --space-xlrg: 2em;

  /* Typography */
  --font-size-heading-main: 1.625rem;
  --font-size-heading-second: 1rem;
  --font-size-paragraph: 0.675rem;
  --font-weight-bold: 700;

  /* Other */
  --radius: 6px;
}

#root {
  height: 100%;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text-primary);
}
