.main-content{
    background-color: var(--color-bg-primary);
    padding: var(--space-md) var(--space-xlrg);
    flex: 1;
}
.main-details{
    text-align: center;
    margin-bottom: 1em;
}

.main-content > h1 {
    font-size: 1.625rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: var(--color-text-secondary);
}

.job-title{
    color: var(--color-text-accent);
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 0.4em;

}

.portfolio-link{
    color: var(--color-text-primary);
    font-size: 0.625rem;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.main-btn-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.main-content > h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.375rem;
}

.main-content > p {
    font-size: 0.675rem;
    line-height: 1.5;
    margin-bottom: 1.625em;


}