.main-content{
    background-color: var(--color-bg-primary);
    padding: var(--space-md) var(--space-xlrg);
    flex: 1;
}
.main-details{
    text-align: center;
    margin-bottom: var(--space-md);
   
}

.main-content > h1 {
    font-size: var(--font-size-heading-main);
    font-weight: 700;
    letter-spacing: 0.02em;
    color: var(--color-text-secondary);
}

.job-title{
    color: var(--color-text-accent);
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: var(--space-xsm);
    

}

.portfolio-link{
    color: var(--color-text-primary);
    font-size: 0.625rem;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.main-btn-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--space-xlrg);
    
}

.main-content > h2 {
    font-size: var(--font-size-heading-second);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--space-xsm);
    
}

.main-content > p {
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
    margin-bottom: var(--space-lrg);
    
}